* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 counter-reset: list; //Устанавливает значение счётчика, равным 0
}

.box {  
 margin: 0 auto;
 padding: 0 15px;
 display: grid;
 // grid-template-columns: 1fr 1fr 2fr; //фракция 
 // grid-template-rows: 100px 200px 150px;
 grid-auto-rows: minmax(200px, auto); //увеличивает размер колонки(включая соседние в линии)в зависимости от размера контента
 grid-template-columns: repeat(3, 1fr);
 // grid-template-columns: minmax(200px, auto) repeat(2, 1fr); 
 grid-row-gap: 10px;
 grid-column-gap: 30px;
 // grid-gap: 10px 30px; //для row и column
 
 &__item {
  background-color: rgb(107, 137, 143);
  // width: 300px; //не указываем
  // height: 40px; //не указываем
  color: rgb(218, 217, 217);
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  border: 2px solid rgb(171, 171, 171);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  // margin: 15px;
  box-shadow: 10px 15px 10px rgb(45, 69, 68);
 }
 &__item:nth-child(even) { //псевдокласс ко всем нечетным элементам применит указанный цвет
  background-color: rgb(73, 118, 120);
 }
 &__item::before {
 content: counter(list); //Инкрементирует счётчик ++
 counter-increment: list; //Отображает текущее значение счётчика
 }
 &__item:nth-child(1) {
  grid-column: 1 / 4; //указываем сколько места занимает блок/ от 1 до 4
  grid-row: 2; //меняем местами 1 на 2
 }
 &__item:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 1;//меняем местами 2 на 1
 }
 &__item:nth-child(5) {
  grid-column: span 2; //блок расширится с того места где был, на 2 части
 }
 &__item:nth-child(6) {
  grid-column: span 2; //блок расширится с того места где был, на 2 части
 }
}